absl-py==2.0.0
addict==2.4.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.1
alembic==1.14.0
altair==5.1.1
annotated-types==0.7.0
ansi2html==1.8.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.3.0
auth0-python==4.7.2
Authlib==1.3.1
autoviz==0.1.730
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
basicsr==1.4.2
bcrypt==4.2.1
beautifulsoup4==4.12.3
bleach==5.0.1
blinker==1.9.0
bokeh==2.4.3
Brotli==1.1.0
build==1.2.2.post1
cachetools==5.3.1
camelot-py==1.0.0
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cohere==5.13.8
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
comm==0.1.4
contourpy==1.3.1
crewai==0.95.0
crewai-tools==0.25.8
cryptography==43.0.1
cycler==0.12.1
dash==2.14.0
dash-bootstrap-components==1.3.1
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
debugpy==1.6.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
distro==1.9.0
Django==4.1.4
dnspython==2.4.2
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
dtale==3.7.0
durationpy==0.9
easyocr==1.7.1
embedchain==0.1.126
emoji==2.8.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastapi==0.103.1
fastavro==1.10.0
fastjsonschema==2.16.2
ffmpy==0.3.1
filelock==3.12.4
fiona==1.9.6
Flask==2.2.5
Flask-Compress==1.14
flask-ngrok==0.0.25
flatbuffers==23.5.26
fonttools==4.55.4
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.9.2
future==0.18.3
fuzzy-c-means==1.7.0
gam==1.3.0
gast==0.5.4
genai==2.1.0
geojson==3.1.0
geopandas==1.0.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.9
google-api-core==2.20.0
google-api-python-client==2.146.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.77.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gptcache==0.1.44
gradio==3.44.4
gradio_client==0.5.1
greenlet==3.0.3
grpc-google-iam-v1==0.14.0
grpcio==1.69.0
grpcio-health-checking==1.69.0
grpcio-status==1.66.1
grpcio-tools==1.69.0
h11==0.14.0
h2==4.1.0
h5py==3.10.0
holoviews==1.14.9
hpack==4.0.0
httpcore==1.0.7
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.17.3
humanfriendly==10.0
hvplot==0.7.3
hyperframe==6.0.1
idna==3.4
ijson==3.3.0
imageio==2.34.2
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
instructor==1.7.2
ipykernel==6.19.4
ipython==8.27.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.5
jiter==0.8.2
joblib==1.2.0
json5==0.9.25
json_repair==0.35.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==2.3
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==7.4.8
jupyter_core==5.1.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.27.3
kaleido==0.2.1
keras==2.14.0
kiwisolver==1.4.8
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.14
langchain-cohere==0.3.4
langchain-community==0.3.14
langchain-core==0.3.30
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.5
langsmith==0.1.147
lazy_loader==0.4
libclang==16.0.6
linkup-sdk==0.2.2
litellm==1.58.2
lmdb==1.6.2
lxml==5.2.2
lz4==4.3.2
Mako==1.3.8
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.25.1
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mem0ai==0.1.44
missingno==0.5.2
mistune==2.0.4
ml-dtypes==0.2.0
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector-python==8.0.31
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.9.1
notebook==7.2.2
notebook_shim==0.2.2
numpy==1.24.3
oauthlib==3.2.2
onnxruntime==1.20.1
openai==1.59.7
opencv-python==4.7.0.72
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
opentelemetry-util-http==0.50b0
opt-einsum==3.3.0
orjson==3.10.14
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandas-dq==1.28
pandas_geojson==2.2.1
pandocfilters==1.5.0
panel==0.14.4
param==1.13.0
parameterized==0.9.0
parso==0.8.3
patsy==0.5.3
pdf2image==1.17.0
pdfminer.six==20240706
pdfplumber==0.11.4
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==4.3.6
plotly==5.17.0
pluggy==1.5.0
portalocker==2.10.1
posthog==3.8.3
prometheus-client==0.15.0
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.24.0
protobuf==5.29.3
psutil==5.9.4
psycopg2==2.9.9
pure-eval==0.2.2
pyamg==5.0.1
pyarrow==16.1.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycparser==2.21
pyct==0.5.0
pydantic==2.10.5
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pygame==2.5.2
pygeos==0.14
Pygments==2.14.0
PyJWT==2.10.1
pylance==0.22.0
pymongo==4.5.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyogrio==0.9.0
pyparsing==3.2.1
pypdf==3.17.4
PyPDF2==3.0.1
pypdfium2==4.30.0
PyPika==0.48.9
pyproj==3.6.1
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyright==1.1.392.post0
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.3.4
python-bidi==0.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.4
python-multipart==0.0.6
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyviz_comms==3.0.0
pywin32==305
pywinpty==2.0.10
PyYAML==6.0
pyzmq==24.0.1
qdrant-client==1.13.0
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
schema==0.7.7
scikit-fuzzy==0.4.2
scikit-image==0.24.0
scikit-learn==1.3.2
scikit-learn-extra==0.3.0
scipy==1.10.0
scrapegraph_py==1.10.0
seaborn==0.13.0
selenium==4.27.1
semantic-version==2.10.0
Send2Trash==1.8.3
serpapi==0.1.5
shapely==2.0.5
shellingham==1.5.4
six==1.17.0
smmap==5.0.1
sniffio==1.3.0
somepackage==1.2.3
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spider-client==0.1.25
SQLAlchemy==2.0.37
sqlparse==0.4.3
squarify==0.4.3
stack-data==0.6.2
starlette==0.27.0
statsmodels==0.14.0
strsimpy==0.2.1
sweetviz==2.2.1
sympy==1.13.1
tabulate==0.9.0
tb-nightly==2.19.0a20250208
tenacity==9.0.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.1.0
tifffile==2024.7.24
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.20.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
toolz==0.12.0
torch==2.6.0
torchvision==0.21.0
tornado==6.2
tqdm==4.66.1
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
typer==0.15.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2022.7
tzlocal==5.2
uri-template==1.2.0
uritemplate==4.1.1
urllib3==2.3.0
uv==0.5.20
uvicorn==0.23.2
validators==0.34.0
watchdog==4.0.1
watchfiles==1.0.4
wcwidth==0.2.5
weaviate-client==4.10.4
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.9.0
xformers==0.0.29.post2
xgboost==2.0.0
xlrd==2.0.1
yapf==0.43.0
yarl==1.18.3
zipp==3.17.0
